body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Arial", sans-serif;
}

/************* page-title *************/

.page-title {
  min-height: 220px;
  padding-top: 50px;

  background-color: teal;
  color: #ffffff;
}

.page-title__container {
  width: 960px;
  margin: 0 auto;

  text-align: center;
}

.page-title__header {
  margin-top: 0;

  font-size: 50px;
  line-height: 60px;
  text-transform: uppercase;
}

/************* examples *************/

.examples__container {
  width: 960px;
  margin: 0 auto;

  text-align: center;
}

.examples__header {
  color: teal;
  text-transform: uppercase;
}

.examples__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.examples__item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.examples__item:nth-child(3n) {
  margin-right: 0;
}

.examples__preview {
  box-shadow: 0 0 10px 4px #aaaaaa;
}

.examples__preview:hover,
.examples__preview:active {
  box-shadow: 0 0 10px 4px teal;
}

/************* page-footer *************/

.page-footer {
  min-height: 60px;

  background-color: teal;
}