/************* scaffolding *************/

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Arial", sans-serif;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

/**
 * Оверлей под экранами
 */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  width: 100%;
  height: 100%;
  padding-top: 60px;
  overflow: auto;

  background-color: rgba(0, 0, 0, 0.8);
}

/**
 * Кнопка закрытия модального окна
 */

.cancel {
  display: block;
  margin: 0;
  margin-left: 10px;
  padding: 0;

  width: 42px;
  height: 42px;

  font-size: 0;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/icon-cross.svg");
  background-position: center;
  background-repeat: no-repeat;

  border: 0;
  border-radius: 2px;

  opacity: 0.6;

  cursor: pointer;
}

.cancel:hover,
.cancel:focus {
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}

.cancel:active {
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}

/************* page-title *************/

.page-title {
  min-height: 220px;
  padding-top: 50px;

  background-color: teal;
  color: #ffffff;
}

.page-title__container {
  width: 960px;
  margin: 0 auto;

  text-align: center;
}

.page-title__header {
  margin-top: 0;

  font-size: 50px;
  line-height: 60px;
  text-transform: uppercase;
}

/************* sites *************/

.sites__container {
  width: 960px;
  margin: 0 auto;

  text-align: center;
}

.sites__header {
  color: teal;
  text-transform: uppercase;
}

.sites__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.sites__item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.sites__item:nth-child(3n) {
  margin-right: 0;
}

.sites__preview {
  box-shadow: 0 0 10px 4px #aaaaaa;
}

.sites__preview:hover,
.sites__preview:active {
  box-shadow: 0 0 10px 4px teal;
}

/************* sertificates *************/

.sertificates__container {
  width: 960px;
  margin: 0 auto;

  text-align: center;
}

.sertificates__header {
  color: teal;
  text-transform: uppercase;
}

.sertificates__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.sertificates__item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.sertificates__item:nth-child(3n) {
  margin-right: 0;
}

.sertificates__preview {
  box-shadow: 0 0 10px 4px #aaaaaa;
  cursor: pointer;
}

.sertificates__preview:hover,
.sertificates__preview:active {
  box-shadow: 0 0 10px 4px teal;
}

/************* big-picture *************/

.big-picture__container {
  width: 960px;
  margin: 0 auto;

  text-align: center;
}

.big-picture__wrapper {
  position: relative;
  margin-right: auto;
  margin-left: auto;

  max-width: 600px;
}

.big-picture__cancel {
  position: absolute;
  top: 0;
  left: 100%;
}

/************* page-footer *************/

.page-footer {
  min-height: 60px;

  background-color: teal;
}